body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.background img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: -1000;
  opacity: .5;
}

.words {
  z-index: 1;
  margin-top: 20rem;
  text-align: center;
  color: black;
}

.user {
 margin-top: 4rem;
 margin-left: 50rem;
}

.user img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.person {
  width: 100%;
  height: 100%;
}
